/* You can add global styles to this file, and also import other style files */
@import "./app-theme";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

.page-container {
  margin: 12px 8px;
}

.search-card {
  max-width: 400px;
  padding: 4px;
}

.full-width {
  width: 100%;
}

.weather-title {
  font: 400 24px/32px Roboto,"Helvetica Neue",sans-serif;
}

.weather-subtitle {
  font: 200 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

.weather-detail {
  margin: 0px 0px 12px;
}

.weather-summary-item {
  display: block;
  margin: 0 auto;
}

.weather-summary-title {
  font: 500 12px Roboto,"Helvetica Neue",sans-serif;
}

.weather-summary-subtitle {
  font: 200 12px Roboto,"Helvetica Neue",sans-serif;
}

.attribution-card {
  max-width: 200px;
  padding: 4px;
}
